<!-- Barra de Navegacion Lateral del Dashboard -->
<th:block th:fragment="aside-nav">
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0 p-1 d-flex justify-content-center align-items-center h-100" th:href="@{/}"
        target="_blank">
        <img th:src="@{/img/logo.png}" class="img-fluid h-100" alt="main_logo">
        <!-- <span class="ms-1 fw-bold fs-4">Areco Recicla</span> -->
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse w-fit" id="sidenav-collapse-main">
      <ul class="navbar-nav gap-1">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/dashboard}" th:classappend="${requestURI == '/dashboard' ? 'active' : ''}">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-regular fa-home text-success text-sm opacity-10 pb-1"></i>
            </div>
            <span class="nav-link-text ms-1">Inicio</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/dashboard/benefits}"
            th:classappend="${requestURI == '/dashboard/benefits' ? 'active' : ''}">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-gift text-success text-sm opacity-10 pb-1"></i>
            </div>
            <span class="nav-link-text ms-1">Beneficios</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/dashboard/coupons}"
            th:classappend="${requestURI == '/dashboard/coupons' ? 'active' : ''}">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-ticket-alt text-success text-sm opacity-10 pb-1"></i>
            </div>
            <span class="nav-link-text ms-1">Cupones</span>
          </a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OPERARIO')">
          <a class="nav-link" th:href="@{/dashboard/scan}"
            th:classappend="${requestURI == '/dashboard/scan' ? 'active' : ''}">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-camera text-success text-sm opacity-10 pb-1"></i>
            </div>
            <span class="nav-link-text ms-1">Escanear</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
</th:block>

<!-- Barra de Navegacion del Dashboard -->
<th:block th:fragment="nav">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
    data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Páginas</a></li>
          <li class="breadcrumb-item text-sm text-white active text-capitalize" aria-current="page"
            th:if="${requestURI == '/dashboard'}">Inicio</li>
          <li class="breadcrumb-item text-sm text-white active text-capitalize" aria-current="page"
            th:if="${requestURI == '/dashboard/benefits'}">Beneficios</li>
          <li class="breadcrumb-item text-sm text-white active text-capitalize" aria-current="page"
            th:if="${requestURI == '/dashboard/coupons'}">Cupones</li>
          <li class="breadcrumb-item text-sm text-white active text-capitalize" aria-current="page"
            th:if="${requestURI == '/dashboard/scan'}">Escanear</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0" th:if="${requestURI == '/dashboard'}">Inicio</h6>
        <h6 class="font-weight-bolder text-white mb-0" th:if="${requestURI == '/dashboard/benefits'}">Beneficios</h6>
        <h6 class="font-weight-bolder text-white mb-0" th:if="${requestURI == '/dashboard/coupons'}">Cupones</h6>
        <h6 class="font-weight-bolder text-white mb-0" th:if="${requestURI == '/dashboard/scan'}">Escanear</h6>
      </nav>
      <div class="collapse navbar-collapse me-md-0 me-sm-4 justify-content-end align-items-center" id="navbar">
        <ul class="navbar-nav justify-content-end gap-2">
          <li class="nav-item d-xl-none ps-1 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </a>
          </li>
          <li class="nav-item ps-1 d-flex align-items-center">
            <span class="badge bg-white text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="Puntos Actuales">
              <span th:text=" ${#numbers.formatDecimal(balance, 1, 2)}"></span> <i class="fas fa-wallet ps-1"></i>
            </span>
          </li>
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center text-white p-0" href="#"
              id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img
                th:src="@{${'https://source.boringavatars.com/marble/120/' + email + '?colors=45936C,334f53,45936c,9acc77,e5ead4'}}"
                class="rounded-circle border border-2 border-white" height="42" alt="Avatar" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item d-flex gap-2 align-items-center" data-bs-toggle="modal"
                  data-bs-target="#userQrModal">
                  <i class="fas fa-qrcode"></i> Mi QR
                </a>
              </li>
              <li>
                <hr class="horizontal mx-3 my-1 dark">
              </li>
              <li>
                <a class="dropdown-item d-flex gap-2 align-items-center " th:href="@{/logout}">
                  <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- User QR Modal -->
  <div class="modal fade" id="userQrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered me-auto ms-auto" style="width: fit-content;" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img th:src="@{${'https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=' + email}}">
        </div>
      </div>
    </div>
  </div>
</th:block>